body {
	font-family: "Amatic SC";
	color: white;
	background-color: black;
	font-size: 25px;
}
div.motion {
	font-size: 120px;
	font-weight: bold;
	border-bottom: white 2px dotted;
	margin-bottom: 10px;
}

nav {
	margin-bottom: -10px;
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.centered {
	width: 100%;
	display: block;
	padding-bottom: 40px;
}

.agenda_heading {
	width: 24%;
	margin-left: 38%;
	text-align: center;
}

.selection_suggestions {
	height: 325px;
	width: 300px;
	overflow: auto;
}

.selection_suggestion {
	width: 300px;
	margin-bottom: 5px;
	text-align: left;
}

.highlighted {
	background-color: gray;
	color: black;
}


.open_question {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 50%;
	height: 500px;
	z-index: 1001;
	display: none;
	border: 2px solid white;
	background-color: black;
}

hl {
	color: white;
}

.position {
	float: left;
	border: white 1px solid;
	color: black;
	background-color: white;
}

.vote_up, .vote_down {
	cursor: pointer;
}

.agenda {
	cursor: pointer;
	height: 80px;
	border: 1px white dotted;
	display: block;
	text-align: center;
}

#quiztion {
	font-size: 30px;
	text-align: center;
}


#answer_input {
	border: none;
	border-bottom: 1px black solid;
	height: 25px;
	box-shadow: none;
}

.un_uppable span span.vote_up, .un_downable span span.vote_down {
	text-decoration: line-through;
	cursor: default;
}

input {
	outline: none;
}

.suggestions {
	height: 10em;
	width: 35%;
	border: 1px dotted white;
	z-index: 1000;
	left: 32.5%;
	background-color: black;
	overflow: auto;
}

.suggestion {
	border: 1px dotted white;
	height: 2.5em;
	text-align: center;
	cursor: default;
}

.searching {
	text-align: center;
	font-size: 30px;
	color: grey;
	height: 30%;
	margin-top: 20%;
	width: 80%;
	margin-left: 10%;
	border: 1px white dotted;
}

#apiswf {
	height: 0px;
}

.list {
	height: 300px;
	overflow: auto;
	display: inline-block;
	width: 24%;
	margin: 0 7%;
	cursor: default;
}

.selection {
	height: 80px;
	border: 1px white dotted;
}

.votes_display {
	width: 24%;
	margin-left: 7%;
	height: 300px;
	overflow: auto;
	display: inline-block;
	cursor: default;
}

.vote {
	border: 1px white dotted;
	min-height: 30px;
	text-align: left;	
}

.vote_first {
	color: #0edbec;
}

.vote_second {
	color: #00dd2f;
}

.vote_second.down {
	color: #ff4040;
}

.attendees_display {
	width: 24%;
	overflow: auto;
	height: 300px;
	display: inline-block;
}

.attendee {
	height: 40px;
	border: 1px white dotted;
}

#input_div {
	margin-left: 37.7%;
}

.nil {
	display: none;
}